<footer class="footer">
  <div class="footer_wrapper">
    <div class="footer_top">
      <div class="footer_description">
        <img src="{{ site.Params.logo }}" alt="" srcset="" class="footer_logo">
        <p class="footer_text">
          Twin Leaf Properties was founded in 2018 to help people overcome challenges with homes and properties.
        </p>
      </div>
      <div class="footer_explore">
        <h4>Explore</h4>
        <ul class="footer_links">
          {{ range site.Data.footer }}
            <li class="footer_link">
              <a href={{ absURL "" }}{{ .url }} class="text-title">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="footer_details">
        <h4>Join Our Mailing List</h4>
        <form class="form" method="post" data-form="newsletter">
          <input type="email" name="email" id="email" placeholder="Email address" required>
          <button type="submit">Subscribe</button>
        </form>
        <div class="footer_emailus">
          <p class="text-title">EMAIL US</p>
          <p>contact@twinleafproperties.com</p>
        </div>
        <div class="footer_callus">
          <p class="text-title">CALL US</p>
          <p>(510) 262-2867</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_ribbon">
    <div class="footer_ribbon-wrapper">
      <p> &copy; Copyright Twin Leaf Properties LLC</p>
    </div>
  </div>
</footer>
{{ partial "feedback" . }}