<div class="review_wrapper">
  <h3 class="review_header title">What People Are Saying</h3>
  <div class="review_inner">
    <div class="review_cards"> <!-- track -->
      <div class="review_card">
        <img src="/images/quotation-mark_gold.png" alt="">
        <p class="review_content">
          I'm very happy... if I had another house to sell in San Francisco, I would contact you. I cannot recommend
          you highly enough.
        </p>
        <span class="review_client">1. Clifford P.</span>
        <span class="review_location">Seller in San Francisco</span>
      </div>
      <div class="review_card">
        <img src="/images/quotation-mark_gold.png" alt="">
        <p class="review_content">
          I'm very happy... if I had another house to sell in San Francisco, I would contact you. I cannot recommend
          you highly enough.
        </p>
        <span class="review_client">2. Clifford P.</span>
        <span class="review_location">Seller in San Francisco</span>
      </div>
      <div class="review_card">
        <img src="/images/quotation-mark_gold.png" alt="">
        <p class="review_content">
          I'm very happy... if I had another house to sell in San Francisco, I would contact you. I cannot recommend
          you highly enough.
        </p>
        <span class="review_client">3. Clifford P.</span>
        <span class="review_location">Seller in San Francisco</span>
      </div>
      <div class="review_card">
        <img src="/images/quotation-mark_gold.png" alt="">
        <p class="review_content">
          I'm very happy... if I had another house to sell in San Francisco, I would contact you. I cannot recommend
          you highly enough.
        </p>
        <span class="review_client">4. Clifford P.</span>
        <span class="review_location">Seller in San Francisco</span>
      </div>
      <div class="review_card">
        <img src="/images/quotation-mark_gold.png" alt="">
        <p class="review_content">
          I'm very happy... if I had another house to sell in San Francisco, I would contact you. I cannot recommend
          you highly enough.
        </p>
        <span class="review_client">5. Clifford P.</span>
        <span class="review_location">Seller in San Francisco</span>
      </div>
      <div class="review_card">
        <img src="/images/quotation-mark_gold.png" alt="">
        <p class="review_content">
          I'm very happy... if I had another house to sell in San Francisco, I would contact you. I cannot recommend
          you highly enough.
        </p>
        <span class="review_client">6.Clifford P.</span>
        <span class="review_location">Seller in San Francisco</span>
      </div>
      <div class="review_card">
        <img src="/images/quotation-mark_gold.png" alt="">
        <p class="review_content">
          I'm very happy... if I had another house to sell in San Francisco, I would contact you. I cannot recommend
          you highly enough.
        </p>
        <span class="review_client">7.Clifford P.</span>
        <span class="review_location">Seller in San Francisco</span>
      </div>
      <div class="review_card">
        <img src="/images/quotation-mark_gold.png" alt="">
        <p class="review_content">
          I'm very happy... if I had another house to sell in San Francisco, I would contact you. I cannot recommend
          you highly enough.
        </p>
        <span class="review_client">8. Clifford P.</span>
        <span class="review_location">Seller in San Francisco</span>
      </div>
    </div>
    <div class="review_controls">
      <i class="fa-solid fa-chevron-left review_prevArrow"></i>
      <i class="fa-solid fa-chevron-right review_nextArrow"></i>
    </div>
  </div>
</div>