<div class="review_wrapper">
  <h3 class="review_header title">What People Are Saying</h3>
  <div class="review_inner">
    <div class="review_cards carousel">
      {{ range site.Data.reviews }}
      <div class="review_card carousel_item">
        <img src="{{ .image }}" alt="{{ .name }}">
        <p class="review_content">
          {{ .description }}
        </p>
        <span class="review_client">{{ .name }}</span>
        <span class="review_location">{{ .role }}</span>
      </div>
      {{ end }}
    </div>
    <div class="review_controls">
      <i class="fa-solid fa-chevron-left review_prevArrow left"></i>
      <i class="fa-solid fa-chevron-right review_nextArrow right"></i>
    </div>
  </div>
</div>