<div class="projects_carousel">
  <div class="projects_slider projects carousel">
  {{ range site.Data.projects }}
    <div class="projects_slide">
      <div class="projects_image projects_image-before">
        <img src="{{ .before }}" alt="{{ .description }}">
        <span class="projects_span projects_span-before">BEFORE</span>
      </div>
      <div class="projects_image projects_image-after">
        <img src="{{ .after }}" alt="{{ .description }}">
        <span class="projects_span projects_span-after">AFTER</span>
      </div>
    </div>
  {{ end }}
  </div>
</div>
<div class="projects_controls">
  <i class="fa-solid fa-chevron-left projects_leftarrow left"></i>
  <i class="fa-solid fa-chevron-right projects_rightarrow right"></i>
</div>