{{ define "main" }}
<main class="main">
  <section class="hero">
    <div class="wrapper">
      <div class="hero_headline">
        <p>Solving Challenges.</p>
        <p>Transforming Properties.</p>
        <p>Preserving Communities.</p>
      </div>
    </div>
  </section>
  <article class="about wrapper" id="about">
    <h3 class="about_header title">About Us</h3>
    <div class="about_content"> <!-- Oswald Font -->
      {{ partial "func/getMarkdown" (dict "text" .Params.about.description) }}
    </div>
    <button> <a href="#values">Learn more about Our Values</a> <i class="fa-solid fa-chevron-right"></i>
    </button>
  </article>
  <section class="review">
    {{ partial "reviews" . }}
  </section>

  {{ partial "home/sellers" . }}
  {{ partial "home/agents" . }}
  {{ partial "home/investors" . }}
  {{ partial "home/projects" . }}
  {{ partial "home/values" . }}
  {{ partial "home/team" . }}

  <section class="contact" id="contact">
    <div class="contact_wrapper">
      <h2 class="contact_title title"> Get in Touch</h2>
      <p>Contact us using the form or information below.</p>
      <p> We look forward to helping you.</p>
      {{ partial "form" . }}
    </div>
  </section>
</main>
{{ end }}