<section class="section agents" id="agents">
  <div class="section_wrapper">
    <img src="/images/agreement.png" alt="" class="section_icon agents_icon">
    <h1 class="section_title agents_title title">Real Estate Agents</h1>
    <h1 class="section_headline agents_headline">Help your clients with challenging properties.</h1>
    <div class="section_content agents_content">
      <p> We work with agents in all capacities, including buyer's agents, listing agents, and dual agencies. </p>
      <p>We're buyers, not agents, so we're happy to have you represent us.</p>
      <p>When you are faced with a challenging property or urgent need, we have the experience to provide convenient
        solutions for you and your clients. </p>
      <button class="agents_btn"><a href="#contact">Contact us to Learn More <i
            class="fa-solid fa-chevron-right"></i></a></button>
    </div>
    <div class="section_feature agents_feature">
      <div class="section_list agents_list">
        <h1 class="section_highlight agents_highlight">Why Real Estate Agents
          work with us:</h1>
        <ul class="section_reasons agents_reasons">
          <li class="section_reason agents_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>Honest and straightforward</span>
          </li>
          <li class="section_reason agents_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>Fast response times</span>
          </li>
          <li class="section_reason agents_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>Respectful of clients and their property</span>
          </li>
          <li class="section_reason agents_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>Discreet handling of challenging clients and properties</span>
          </li>
          <li class="section_reason agents_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>Experience buying properties in disrepair or damaged, inheritances, divorces, bad tenants and
              more</span>
          </li>
          <li class="section_reason agents_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>Ability to work with agents in all capacities</span>
          </li>
        </ul>
      </div>
      <div class="section_visual agents_visual">
        <img src="/images/keys.png" class="section_background" alt="">
        <div class="section_pill agents_pill">
          <img src="/images/quotation-mark.png" alt="">
          <p class="section_testimony">
            Very professional, upfront, and easy to deal with. Looking forward to doing another transaction with
            them.
            My clients were happy with the deal… thank you!
          </p>
          <span class="section_name"> —Erdy M.,Realtor in Alameda, CA</span>
        </div>
      </div>
    </div>
    <div class="section_line"></div>
  </div>
</section>
