<section class="section investors" id="investors">
  <div class="section_wrapper">
    <img src="/images/investment.png" alt="" class="section_icon investors_icon">
    <h2 class="section_title investors_title title">Investors</h2>
    <h3 class="section_headline investors_headline">Diversify your portfolio with a secured investment.</h3>
    <div class="section_content investors_content">
      <p> We help investors and lenders expand their investment options.</p>
      <p>Investing in real estate provides an alternative to the stock market. You can rest assured knowing your funds are secured by tangible collateral and a proven team.</p>
      <p>We've partnered with private investors from all walks of life to purchase properties and preserve communities.</p>
      <button class="investors_btn">
        <a href="#contact">
          Contact us to discuss your goals
          <i
          class="fa-solid fa-chevron-right"></i></a>
        </button>
      </div>
      <div class="section_feature investors_feature">
        <div class="section_list investor_list">
          <h3 class="section_highlight investors_highlight">Why investors choose to invest with us:</h3>
          <ul class="section_reasons investors_reasons">
            <li class="section_reason investors_reason">
              <img src="/images/check-mark.png" alt="check mark" srcset="">
              <span>Transparency and full documentation</span>
            </li>
            <li class="section_reason investors_reason">
              <img src="/images/check-mark.png" alt="check mark" srcset="">
              <span>Investment secured with real estate</span>
            </li>
            <li class="section_reason investors_reason">
              <img src="/images/check-mark.png" alt="check mark" srcset="">
              <span>Interest rates above market rate</span>
            </li>
            <li class="section_reason investors_reason">
              <img src="/images/check-mark.png" alt="check mark" srcset="">
              <span>Portfolio diversity</span>
            </li>
            <li class="section_reason investors_reason">
              <img src="/images/check-mark.png" alt="check mark" srcset="">
              <span>Experience working with investors from a wide range of backgrounds</span>
            </li>
          </ul>
        </div>
        <div class="section_visual investors_visual">
          <img src="/images/charting.png" class="section_background" alt="">
          <div class="section_pill investors_pill">
            <img src="/images/quotation-mark.png" alt="">
            <p class="section_testimony">
              It's been great putting my savings to work to earn a lot more interest than the bank pays while knowing
              it's secured by real estate.
            </p>
            <span class="section_name">—Juline L., Investor in Oakland, CA</span>
          </div>
        </div>
      </div>
    </div>
  </section>
