<section class="projects" id="projects">
  <div class="projects_wrapper">
    <h2 class="projects_title title">Our Projects</h2>
    <p class="projects_text">See how we've transformed these properties while maintaining their character and place in the community.</p>
    <button><a href="/projects/"><span>View All Projects <i class="fa-solid fa-chevron-right"></i></span></a></button>

    <div class="projects_carousel">
      <div class="projects_slider projects carousel">
      {{ range .Params.projects }}
        {{ $title := replace (lower .title) " " "_" }}
        {{ range .selected }}
          {{ $index := cast.ToString . }}
          {{ $images := partial "func/getImage" (dict "title" $title "index" .) }}
          <div class="projects_slide">
            <div class="projects_image projects_image-before">
              <img src="{{ $images.before }}" alt="{{ $title }} {{ $index }} before">
              <span class="projects_span projects_span-before">BEFORE</span>
            </div>
            <div class="projects_image projects_image-after">
              <img src="{{ $images.after }}" alt="{{ $title }} {{ $index }} after">
              <span class="projects_span projects_span-after">AFTER</span>
            </div>
          </div>
        {{ end }}
      {{ end }}
      </div>
    </div>
    <div class="projects_controls">
      <i class="fa-solid fa-chevron-left projects_leftarrow left"></i>
      <i class="fa-solid fa-chevron-right projects_rightarrow right"></i>
    </div>
  </div>
</section>