<section class="section sellers" id="sellers">
  <div class="section_wrapper">
    <img src="/images/for-sale_black.png" alt="for-sale-sign" class="section_icon sellers_icon">
    <h2 class="section_title sellers_title title">Sellers</h2>
    <h3 class="section_headline sellers_headline">Sell your property without the hassle.</h3>
    <div class="section_content sellers_content">
      <p>We're dedicated to helping sellers in Northern California. We buy homes and other properties directly for cash and save you the hassle of listings, showings, commissions and fees.</p>
      <p>Whether you're relocating, have an inherited property, troublesome tenants, or major repairs, we'll find the best solution for you.</p>
      <p>Learn more about our dedicated home buying service, <a href="https://reliancehomebuyers.com/">Reliance Home Buyers</a></p>
    </div>
    <div class="section_feature sellers_feature">
      <div class="section_list sellers_list">
        <h3 class="section_highlight sellers_highlight ">Why home sellers trust us to buy their home:</h3>
        <ul class="section_reasons sellers_reasons ">
          <li class="section_reason sellers_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>5 years of experience</span>
          </li>
          <li class="section_reason sellers_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>Located in Northern California</span>
          </li>
          <li class="section_reason sellers_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>We respect you and your home</span>
          </li>
          <li class="section_reason sellers_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>Close in as little as 10 days</span>
          </li>
          <li class="section_reason sellers_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>Receive funds in the way you'd like</span>
          </li>
          <li class="section_reason sellers_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>No repairs, no showings, no hassles</span>
          </li>
          <li class="section_reason sellers_reason">
            <img src="/images/check-mark.png" alt="check mark" srcset="">
            <span>No commissions or hidden fees</span>
          </li>
        </ul>
      </div>
      <div class="section_visual sellers_visual">
        <img src="/images/sellers_bg.jpg" class="section_background" alt="">
        <div class="section_pill sellers_pill">
          <img src="/images/quotation-mark.png" alt="">
          <p class="section_testimony">You worked really well with us, explaining everything since it was our first time selling a house. I highly recommend others sell their property to you.</p>
          <span class="section_name"> —Mike N., Seller in Hayward, CA</span>
        </div>
      </div>
    </div>
    <div class="section_line"></div>
  </div>
</section>
