<section class="join">
  <div class="join_wrapper">
    <h2 class="join_title title">Join Our Team</h2>
    <div class="join_feature">
      <div class="join_img">
        <img src="/images/hands.png" alt="people holding hands">
      </div>
      <div class="join_description">
        <h3 class="join_headline">
          We're always looking for new people that share our values to join our team.
        </h3>
        <p>
          We're an exciting, fast-growing real estate investing company dedicated to improving and uplifting
          communities across Northern California.
        </p>
        <p>
          You can build experience in the real estate industry and improve your income while working from home.
        </p>

        <button> <a href="/careers/">Apply Today <i class="fa-solid fa-chevron-right"></i></a></button>
      </div>
    </div>
  </div>
</section>