<section class="values" id="values">
  <div class="values_wrapper">
    <h2 class="values_title title">Our Values</h2>
    <p class="values_description">These core values guide how we work and contribute to our community.</p>
    <div class="values_img">
      <img src="/images/stars.png" alt="">
    </div>
    <div class="values_contents">
      <div class="values_content">
        <h3 class="values_headline">Honesty</h3>
        <p class="values_text">The most important part of any relationship is honesty. When we give you a
          commitment,
          we stand behind it 100%. We work with transparency and integrity in everything we do.</p>
      </div>
      <div class="values_content">
        <h3 class="values_headline">COMPASSION</h3>
        <p class="values_text">We genuinely care about the communities and the people we serve.. Our compassion
          guides
          our approach to listening and understanding. We'll find the best solution for your situation, even if that
          means recommending options better suited to your needs.</p>
      </div>
      <div class="values_content">
        <h3 class="values_headline">RESPECT</h3>
        <p class="values_text">We treat everyone with respect. Some might call it old-fashioned, but we were always
          taught to treat others as we want to be treated. And we still want to make our moms proud.</p>
      </div>
    </div>
  </div>
</section>